.language-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 40px;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.language-menu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.language-menu-item {
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.language-menu-item:hover {
    color: #FFA500;
}

.language-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: color 0.3s ease;
    margin-right: 20px; /* Уменьшен отступ для кнопки смены языка */
}

.language-button:hover {
    color: #FFA500;
}

.flights-container {
    max-width: 800px;
    margin: 50px 20px 0; /* Уменьшаем отступы по бокам и добавляем отступ сверху */
    text-align: left; /* Выравнивание текста по левому краю */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab-buttons {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 200px; /* Произвольное значение для отступа между кнопками и верхней границей .flights-container */
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 100px;
    border: none;
    background: none;
    color: black;
    font-weight: 800; /* Изменено на normal для уменьшения ширины шрифта */
    margin-right: 20px;
    transition: color 0.3s ease;
}

.tab-button:hover {
    color: #FFA500;
}

.active {
    color: #FFA500;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow: visible;
}

html {
    height: 100%;
    overflow: visible;
}

.header-container {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px; /* Увеличено значение для больших отступов между кнопками */
}

nav a {
    user-select: none;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFA500;
}

.logo-container {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(300px);
}

.logo img {
    user-select: none;
    width: 50px;
    height: auto;
}

.airport-name {
    user-select: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    margin-left: 10px;
}



/* services.css */

/* ... (ваш предыдущий код) */

/* Стили для строки поиска */
.search-container {
    display: flex;
    align-items: center;
    margin: 3vw;
    justify-content: center; /* Центрирование по горизонтали */
    margin-top: 100px;
    margin-bottom: 20px;
    width: 90vw; /* Используйте 100vw для растяжения на всю ширину видимой области */
    
}

.search-container img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: -10px;
}

.search-container input {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}



/* ... (ваш предыдущий код) */

.flight-block {
    border-bottom: 1px solid black;
    padding: 20px;
    margin-bottom: 40px;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: border 0.3s, transform 0.3s; /* Добавляем анимацию для границ и трансформации */
    border: 1px solid transparent;
}

.flight-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flight-time,
.flight-destination,
.flight-number,
.flight-terminal,
.flight-arrival {
    margin-right: 10px;
    font-weight: bold;
    font-size: 35px;
    color: black;
    text-decoration: none !important;
}

.flight-info a {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.flight-block:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.flight-link {
    text-decoration: none;
    color: black;
}

.flight-link:hover {
    cursor: pointer;
}

/* Добавленные стили для анимации */
.departure-show,
.arrival-show {
    opacity: 1;
    transform: translateY(0);
}

.departure-show, .arrival-show {
    opacity: 1;
    transform: translateY(0);
}



.flight-block:hover {
    border-color: #000000; /* Цвет границы при наведении */
    transform: translateY(-5px); /* Поднимаем блок на 5 пикселей вверх */
    box-shadow: 4px 4px 0px 0px rgba(255, 165, 0, 1);
    transition: box-shadow 0.4s, transform 0.4s; /* Добавляем прямоугольную тень с максимальной прозрачностью и цветом #FFA500 */
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Выравнивание по горизонтали с равным расстоянием между элементами */
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;

    /* Опциональные стили для более красивого вида */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Стили для текста внутри блока */
.contact-info p {
    margin: 10px 0;
}

.transition-fade {
    transition: .1s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;

}


     