* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #333;
}
.container {
    width: 350px;
    height: 500px;
    background: #333;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4), -10px 20px 20px 0 rgba(0, 0, 0, 0.4), 0 -2px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55px 5px;
}

.signin-signup {
    display: grid;
    grid-template-columns: 1fr;
}
form {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 10px;
}
.input-field {
    width: 280px;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.input-field input {
    flex: 5;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}
p,


button{
    padding: 18px 40px;
    background-color: #ffffff;
    color: #333;
    font-weight: 800;
    border: none;
    border-radius: 10px 25px;
    letter-spacing: 3px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 30px;
  }
  
  button:hover{
      background: #FFA500;
      color: #ffffff;
      box-shadow: 0 0 2px #FFA500,
                  0 0 4px #FFA500,
                  0 0 8px #FFA500,
                  0 0 16px #FFA500;
       background:below 1px linear-gradient(transparent, #FFA500);
  }
.account-text {
    color: #ffffff;
}
.container.sign-up-mode form.sign-up-form {
    visibility: visible;
}
.container.sign-up-mode form.sign-in-form {
    visibility: hidden;
}

@media (max-width: 400px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}